@use './Libraries/fontawesome-6.4.2/fontawesome.scss';

.episode-watch-icon {

    position: relative;
    font-size: 1.2rem;

    .watched-button a {
        color: #bbb;
        width: 40px;
        height: 20px;
        justify-content: center;
        cursor: pointer;
    }

    &.search-page .watched-button a {
        width: 23px;
        min-width: 23px;
    }

    &.watched .watched-button a {
        color: #0b0;
    }
    &.started-watching .watched-button a {
        color: #f90;
    }

    &.skip .watched-button a {
        color: black;
    }

    &.saving .watched-button a {
        color: black;
        cursor: default;
        font-size: 1.6rem !important;
    }

    .watched-menu {
        position: absolute;
        top: -3px;
        right: 36px;
        background: #f3f3f3;
        border: 1px solid #999;
        border-radius: 5px;
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: right 0.25s, opacity 0.25s;
        z-index: 999;

        .active-mark {
            position: absolute;
            height: 2px;
            width: 0;
            background: #33f;
            bottom: 0px;
            transition: 0.25s;
        }
    }
    
    &.search-page .watched-menu {
        transition: top 0.25s, opacity 0.25s;
        top: 16px;
    }

    .watched-menu > .menu-item {
        height: 20px;
        padding: 2px 10px;
        font-size: initial;
        opacity: .6;
        cursor: pointer;
        
        > span {
            font-size: 16px;
        }
    
        &:hover {
            background-color: #ccc;
        }
    }

    &.watched .watched-menu > .watched, &.started-watching .watched-menu > .started, &.skip .watched-menu > .skip {
        background-color: #00dd00;
        opacity: 1;
    }

    &.started-watching .watched-menu > .skip, &.watched .watched-menu > .skip,
    &.skip .watched-menu > .started, &.watched .watched-menu > .started,
    &.skip .watched-menu > .watched {
        display: none;
    }
}

@media (hover: hover) and (pointer: fine) {
    .episode-watch-icon.hover .watched-menu,
    .all-watch-menus-open .episode-watch-icon:not(.search-page) .watched-menu {
        visibility: visible;
        right: 40px;
        opacity: 1;
    }

    .episode-watch-icon.search-page.hover .watched-menu {
        top: 20px;
    }
}

.episode-watch-icon.touch-menu-open .watched-menu {
    flex-direction: column-reverse;
    visibility: visible;
    opacity: 1;

    .active-mark {
        display: none;
    }
}

.episode-watch-icon.search-page.touch-menu-open .watched-menu {
    top: initial;
    right: initial;
    bottom: 21px;
}
.episode-watch-icon.touch-menu-open .watched-menu > div {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #999;
    
    &:first-child {
        border-bottom: 0;
    }
}