@use './Libraries/fontawesome-6.4.2/fontawesome.scss';

.episode-file-icon {

    font-size: 1.2rem;
    height: 20px;
    width: 40px;
    justify-content: center;

    &.search-page {
        width: 24px;
        min-width: 24px !important;
        text-align: left !important;
    }

    &.clickable {
        cursor: pointer;
    }

    &.faded {
        opacity: 0.3;
    }

    &.orange {
        color: orangered;
    }
}