.field {
    position: relative;
    width: 100%;
    margin: 1.6rem 0;

    label {
        position: absolute;
        top: -8px;
        left: 0.4rem;
        font-size: 0.9rem;
        background-color: white;
        padding: 0 6px;
        white-space: nowrap;

        .required-star {
            color: orangered;
            position: relative;
            top: 1px;
            margin-left: 0.3rem;
        }
    }

    input {
        border: 1px solid #999;
        border-radius: 5px;
        padding: 15px 10px 10px 10px;
        font-size: 1rem;
        width: 100%;

        &.input-validation-error {
            border-color: red;
        }
    }

    .validation-message {
        position: absolute;
        bottom: -0.3rem;
        right: 10px;
        color: red;
        font-size: 0.8rem;
        background-color: white;
        padding: 0 6px;
    }

    &.input-validation-success {
        .required-star {
            color: gray;
        }
    }
    &.input-validation-error {
        label {
            color: red;
        }
    }

    &.checkbox {
        border: 1px solid #999;
        border-radius: 5px;
        width: 100%;
        width: calc(100% - 2px);

        label {
            position: unset;
            display: flex;
            height: 43px;
            width: 100%;
            align-items: center;
            padding: 0;
            padding-left: 0.7rem;
            background-color: transparent;
        }

        input {
            position: absolute;
            top: 13px;
            right: 0.7rem;
            height: 20px;
            width: 20px;
        }
    }

    &.select {
        border: 1px solid #999;
        border-radius: 5px;
        width: 100%;
        height: 43px;
        width: calc(100% - 2px);

        select {
            position: absolute;
            top: 13px;
            left: 10px;
            width: calc(100% - 20px);
            font-size: 1rem;
        }
    }
    
    &.center {
        input {
            text-align: center;
        }
    }

    &.buttons {
        display: flex;
        justify-content: start;
        gap: 1rem;

        input {
            border: 1px solid black;
            border-radius: 5px;
            background-color: #ccc;
            color: black;
            font-size: 1rem;
            padding: 0.5rem 1rem;
            width: auto;
            cursor: pointer;

            &:active:hover {
                filter: brightness(90%);
            }
        }
        input[type=submit] {
            background-color: #0088ff;
            color: white;
        }

        input:disabled {
            &[type=button], &[type=submit] {
                color: color-mix(in hsl, canvastext 66%, canvas) !important;
                border-color: color-mix(in hsl, canvastext 66%, canvas);
            }
            &[type=submit] {
                background-color: #999 !important;
            }
            &:active:hover {
                filter: brightness(100%);
            }
        }

        &.right {
            justify-content: end;
        }
        &.thin {
            input {
                padding: 0.25rem 0.5rem;
            }
        }
    }
}

.field-set {
    margin: 1.6rem auto;
    border: 1px solid #999;
    border-radius: 5px;
    width: 100%;
    width: calc(100% - 2px);
    position: relative;
    padding: 1rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: end;

    .label {
        position: absolute;
        top: -8px;
        left: 0.4rem;
        font-size: 0.9rem;
        background-color: white;
        padding: 0 6px;
    }

    .field {
        border: 0;
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0.2rem 0;
        
        label {
            position: unset;
            flex-grow: 2;
            padding-left: 1.6rem;
        }
        input {
            padding: 5px;
            width: 50%;
            margin-right: 0.7rem;
        }
        
        .validation-message {
            display: none;
        }

        &.checkbox {
            margin: 0;

            label {
                height: 2rem;
            }
            input {
                top: 7px;
                width: auto;
                margin: 0;
                right: 0.8rem;
            }
        }
    }
}

.form-disabled {
    color: #999;
}