@use './EpisodeFileIcon.scss';
@use './EpisodeWatchIcon.scss';
@use './Vlc.scss';
@use './LoadingBar.scss';
@use './Libraries/Form.scss';
@use './Libraries/fontawesome-6.4.2/fontawesome.scss';
@use './Libraries/fontawesome-6.4.2/regular.scss';
@use './Libraries/fontawesome-6.4.2/solid.scss';
@use './Libraries/fontawesome-6.4.2/brands.scss';

*, html {
    margin: 0;
    padding: 0;
}

body {
    font: normal 16px/1.3 Tahoma, Geneva, Arial, sans-serif;
}

.hide {
    display: none !important;
}

#header, #search_row {
    position: fixed;
    display: flex;
    background: #333;
    width: 100vw;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    .header-left, .header-right {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;

        icon-link a {
            gap: 1rem;
        }
    }

    a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.8em;
        white-space: nowrap;
        
        &.search-link {
            display: none;
        }
    }

    form {
        margin: 0;
        
        input {
            font-size: 1.1em;
            border: 0;
            border-radius: 20px;
            padding: 5px 13px;
        }
    }
}

#search_row {
    top: 60px;
    height: 50px;
    box-shadow: 0 2px 5px black;
    justify-content: center;
    z-index: 98;

    form input {
        width: calc(100vw - 40px);
        margin-top: 5px;
    }
}

#site_menu {
    position: fixed;
    top: 60px;
    left: -404px;
    background: rgba(160,160,160,.95);
    border-right: 4px solid #333;
    width: 90%;
    max-width: 400px;
    height: 100%;
    z-index: 999;
    transition: .3s ease;

    &.open {
        left: 0;
    }
    .section-buttons {
        form-field-row {
            margin: 1rem 20px;
            width: calc(100% - 40px);
        }

        button {
            width: 110px;

            &.youtube {
                icon {
                    color: darkred;
                    font-size: 2.1rem;
                }
            }
        }
    }

    .menu-item {
        display: flex;
        padding: 12px 5px;
        margin: 0 20px;
        color: white;
        text-decoration: none;
        border-top: 1px solid #333;
    }
}

#user_menu {
    position: fixed;
    bottom: calc(100vh - 60px);
    right: 10px;
    background: whitesmoke;
    border: 2px solid #333;
    max-width: 290px;
    z-index: 98;
    transition: 0.3s ease;
    visibility: hidden;
    
    .username {
        background: #333;
        color: white;
        margin: 0.3rem 0;
    }

    .row {
        padding: 12px 40px 12px 20px;

        &.indent {
            margin-left: 20px;
        }
    }
    
    a {
        color: black;
        display: flex;
        
        &:hover {
            background-color: #ddd;
        }
    }
}

#content {
    padding: 60px 16px 20px 16px;
}
#content .edit-list-show, #content .add-to-list-show {
    display: none !important;
}
#content.edit-list .edit-list-show, #content.add-to-list-mode .add-to-list-show {
    display: initial !important;
}
#content.edit-list .edit-list-hide, #content.add-to-list-mode .add-to-list-hide {
    display: none !important;
}


@media (max-width: 550px) {

    #header form {
        display: none;
    }

    #header a.search-link {
        display: block;
    }
}





.snack-bar {
    position: fixed;
    width: 100%;
    left: 0;
    display: flex;
    top: 30px;
    z-index: 999;
    pointer-events: none;

    span {
        background: #007aff;
        padding: 10px 20px;
        border-radius: 10px;
        border: 3px solid black;
        margin: auto;
        text-align: center;
        max-width: 70vw;
        color: white;
        pointer-events: initial;
    
        a {
            font-size: 0.85em;
            color: #ddf;
        }
    }
    
    &.error {
        span {
            background: #900;
        }
    }
}

#burger_menu {
    width: 32px;
    height: 24px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        
        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2), &:nth-child(3) {
            top: 10px;
        }
        &:nth-child(4) {
            top: 20px;
        }
    }

    &.open {
        span:nth-child(1) {
            top: 10px;
            width: 0%;
            left: 50%;
        }
        span:nth-child(2) {
            transform: rotate(45deg);
        }
        span:nth-child(3) {
            transform: rotate(-45deg);
        }
        span:nth-child(4) {
            top: 10px;
            width: 0%;
            left: 50%;
        }
    }
}

#user_menu_button {
    position: relative;
    color: white;
    width: 52px;
    height: 32px;
    cursor: pointer;
    font-size: 32px;

    .icon {
        position: absolute;
        top: 0;
        transition: .25s;

        &.icon-user {
            left: 0;
        }
        &.icon-close {
            left: 52;
            opacity: 0;
        }
    }

    &.open {
        .icon-user {
            left: 52;
            opacity: 0;
        }
        .icon-close {
            left: 0;
            opacity: 1;
        }
    }
}