#play_location {
    position: fixed;
    bottom: 30px;
    left: 30px;
    right: 30px;
    width: 140px;
    margin: auto;
    padding: 8px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    transition: 0.3s ease;
    cursor: pointer;

    a {
        color: white;
    }

    &.vlc-open {
        border-radius: 10px 10px 0 0;
        bottom: 150px;
    }
    
    &.in-menu {
        z-index: 9999;
        left: -271px;
        right: auto;

        &.menu-open {
            left: 113px;
        }
    }
}

#vlc_player {
    position: fixed;
    bottom: 30px;
    left: 30px;
    right: 30px;
    max-width: 400px;
    margin: auto;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    z-index: 99;
    display: flex;
    transition: 0.3s ease;

    .vlc-content {
        width: 100%
    }

    .vlc-title {
        display: flex;
        justify-content: space-between;
    
        .vlc-title-text {
            display: flex;
            align-items: center;
            overflow: hidden;
            flex-grow: 1;
        }
        .vlc-title-text img {
            height: 22px;
            margin-right: 10px;
        }
        .vlc-buttons {
            display: none;

            @media (max-width: 500px) {
                display: block;
            }
        }
    }

    #vlc_playing_title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .vlc-buttons {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
        white-space: nowrap;
        
        a {
            color: white;
            text-decoration: none;
            justify-content: center;
            height: 32px;
            width: 34px;
        
            &.pause {
                display: none !important;
            }
            &.fullscreen-exit {
                display: none !important;
            }

            &.disabled {
                opacity: 0.4;
                cursor: default;
            }
        }

        icon {
            font-size: 22px;
        }

        .vlc-side-controls {
            a {
                justify-content: end;
            }
            @media (max-width: 500px) {
                display: none;
            }
        }
        
        .vlc-central-controls {
            min-width: 50%;
            display: flex;
            justify-content: space-evenly;

            @media (max-width: 500px) {
                width: 100%;
                justify-content: space-between;
            }
        }

        @media (max-width: 500px) {
            margin: 0;
        }
    }

    &.playing {
        .vlc-buttons {
            .play {
                display: none !important;
            }
            .pause {
                display: flex !important;
            }
            .fullscreen {
                display: none !important;
            }
            .fullscreen-exit {
                display: flex !important;
            }
        }
    }

    .vlc-scrubber {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px 0 5px 0;

        .time {
            color: #ccc;
            font-size: 0.9em;
            min-width: 45px;
        }
        
        .vlc-scrubber-bar {
            position: relative;
            height: 30px;
            width: 60%;
            margin: 0 10px;
            background-image: url('/images/dot-2v.gif');
            background-repeat: repeat-x;
            background-position: center;
            cursor: pointer;
        }

        #vlc-scrubber-mark {
            position: absolute;
            top: calc(50% - 7px);
            height: 14px;
            width: 14px;
            border-radius: 50%;
            background: #999;
        }
    }

    &.info-only {
        .vlc-title {
            align-items: start;
        }
        #vlc_playing_title {
            white-space: initial;
            text-overflow: initial;
        }
        .vlc-detail-row {
            display: none;
        }
    }

    &.with-poster {
        padding-left: 10px;
        max-width: 405px;
    
        #vlc_poster {
            width: 70px;
            height: 99px;
            background-size: 100%;
            background-repeat: no-repeat;
            margin-right: 15px;
        }
        .vlc-content {
            width: calc(100% - 85px);
        }
    }

    .move-button {
        display: none;
        position: absolute;
        font-size: 2rem;
        background: rgba(0, 0, 0, 0.7);
        width: 1.4rem;
        cursor: pointer;
        top: 2rem;

        &.move-to-menu-button {
            left: -1.4rem;
            border-radius: 6px 0 0 6px;
            text-align: right;
        }
        &.move-out-of-menu-button {
            right: -1.4rem;
            border-radius: 0 6px 6px 0;
        }
    }
    .close-button {
        position: absolute;
        right: -10px;
        top: -10px;
        border: 2px solid white;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 1.1rem;
        display: none;
        cursor: pointer;
    }
    &:hover {
        &.in-menu {
            .move-button.move-out-of-menu-button {
                display: block;
            }
        }
        &:not(.in-menu) {
            .move-button.move-to-menu-button {
                display: block;
            }
        }
        .close-button {
            display: flex;
        }
    }

    &.in-menu {
        margin: 0;
        z-index: 9999;
        max-width: 330px;
        left: -384px;

        &.menu-open {
            left: 20px;
        }
    }
}

#content.vlc-open {
    padding-bottom: 180px;
}