@use '../../Styles/Libraries/fontawesome-6.4.2/fontawesome.scss';

#settings {
    display: flex;
    margin: 20px auto;
    max-width: 700px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 180px;

    li {
        margin: 0;
        
        a {
            display: flex;
            padding: 1rem 10px;
            text-decoration: none;
            color: black;
            border-width: 1px 0 1px 1px;
            border-style: solid;
            border-color: white;
            border-radius: 10px 0 0 10px;
            z-index: 9;
            
            img {
                height: 19px;
                width: 22px;
                margin-right: 5px;
            }

            &.active {
                border-color: #999;
                position: relative;
                left: 1px;
                background-color: white;
            }

            &:hover {
                background-color: whitesmoke;
            }
        }
    }
}

#settings_content {
    flex-grow: 2;
    border: 1px solid #999;
    border-radius: 0 10px 10px 0;
    position: relative;

    .content-header {
        display: none;
        justify-content: space-between;
        border-bottom: 1px solid #999;

        .back {
            font-size: 28px;
            width: 50px;
            justify-content: center;
            text-decoration: none;
            color: black;
        }

        .title {
            padding: 1rem 0;
            display: flex;
            gap: 0.5rem;
            font-size: 1.2rem;
            align-items: center;
        }

        .right-space {
            width: 50px;
        }
    }

    .content-page {
        display: none;
        
        &.active {
            display: block;
        }
    }
}

form {
    width: 350px;
    margin: 3rem auto;
}


#accounts {

    &.active {
        display: flex !important;
        overflow: hidden;
        width: 350px;
        margin: 0 auto;
    }

    .left-column, .right-column {
        min-width: 350px;

        .content-header {
            display: flex;
            margin-top: 3rem;
        }

        #user {
            width: 340px;
        }
    }

    .account-header {
        font-weight: bold;
        margin: 2rem 0 1rem 0;
        display: flex;
        align-items: center;

        a {
            display: none;
            font-weight: normal;
            font-size: 0.8rem;
            margin-left: 1rem;
        }

        &:hover {
            a {
                display: block;
            }
        }
    }
    .user {
        display: flex;
        justify-content: space-between;
        margin-left: 1rem;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: black;

        .name {

        }
        .role {
            font-size: 0.8rem;
            background-color: #666;
            display: inline-block;
            border-radius: 4px;
            padding: 0.2rem 0.4rem;
            color: white;        }

        &:hover {
            background-color: whitesmoke;
        }
        &.add-link {
            justify-content: start;
            color: blue;
            cursor: pointer;

            &:hover {
                background-color: transparent;
            }
        }
    }

    #accounts_add_link {
        display: flex;
        margin: 2rem 0;
    }
}


#torrentSearchEngines {
    margin-top: 1.5rem;
    padding: 1rem;

    #torrentSearchEngines_table {
        position: relative;

        &.saving {
            opacity: 0.4;
        }

        .row {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: top;
            width: 100%;
            transition: 0.25s;

            .active {
                display: none;
            }

            &.active {
                .active {
                    display: block;
                }
                .inactive {
                    display: none !important;
                }
            }

            &.deleting {
                opacity: 0.4;
            }

            > div {
                display: flex;
            }

            .url {
                overflow-wrap: anywhere;
                margin-right: 20px;

                a {
                    color: #006;
                }
            }

            .metrics {
                font-size: 0.85em;
            }

            .icon {
                height: 20px;
                margin-left: 1rem;

                &.inactive {
                    opacity: 0.4;
                }
                &.button {
                    cursor: pointer;
                }
            }

            .test-icon {
                margin-right: 1rem;
            }

            &.testing .test-icon {
                @extend .fa-ellipsis;
                @extend .fa-fade;
            }
            &.test-success .test-icon {
                @extend .fa-check;
                color: green;
            }
            &.test-fail .test-icon {
                @extend .fa-xmark;
                color: red;
            }
        }
    }

    .torrentSearchEngines-add-link {
        position: absolute;
        max-width: 500px;
        margin: 2em auto;
        display: block;
        transition: 0.25s;
    }
}


@media (max-width: 600px) {

    form {
        width: 290px;
    }

    #settings {
        overflow: hidden;
    }

    .menu {
        min-width: calc(100vw - 32px);
        max-width: calc(100vw - 32px);

        li {
            a {
                border-radius: 10px;

                &.active {
                    border-color: white;
                    left: 0;
                }
            }
        }
    }

    #settings_content {
        border-radius: 10px;
        min-width: calc(100vw - 40px);
        max-width: calc(100vw - 40px);

        .content-header {
            display: flex;
            align-items: center;
        }
    }

    #accounts {
        &.active {
            width: 300px;
        }
    
        .left-column, .right-column {
            min-width: 300px;

            .content-header {
                display: flex;
                margin-top: 1rem;
            }
            #user {
                width: 290px;
            }
        }
    }

}