.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem 0;
}

.sort-button {
    position: relative;
    background: url('/images/sort.svg') no-repeat 5px center;
    background-size: 20px;
    padding: 5px 10px 5px 30px;
    font-size: 0.9em;
    border: 1px dotted white;
    cursor: pointer;

    &:hover {
        border-color: #999;
    }
    select {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        opacity: 0;
    }
}

.posters {
    display: grid;
    grid-template-columns: repeat(auto-fill, 171px);
    justify-content: space-around;

    .sort-header {
        grid-column-start: 1;
        margin: 0.5em 0 1em 0;
        border-bottom: 1px solid black;
        padding-bottom: .5em;
        grid-column-end: -1;
    
        + .poster {
            grid-column-start: 1;
        }
    }

    &.empty {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.poster {
    position: relative;
    width: 155px;
    display: inline-block;
    margin: 0px 8px 10px 8px;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    font-size: .9em;
    text-align: left;

    a {
        width: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 217px;
        border: 1px solid white;
        margin-bottom: 5px;
        background-color: #ccc;
        text-decoration: none;
        color: #666;
        font-size: 40px;
        white-space: break-spaces;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        align-content: space-around;
        text-align: center;
        overflow: hidden;
        position: relative;
        
        &:hover {
            border: 1px dotted black;
        }

        .mini-poster {
            height: 107px;
            width: 75.5px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-clip: border-box;
        
            &:first-child:nth-last-child(2), &:last-child:nth-child(2) {
                position: absolute;
                height: 147.5px;
                width: 105px;
            }
            &:first-child:nth-last-child(2) {
                left: 0;
                top: 0;
                z-index: 1;
            }
            &:last-child:nth-child(2) {
                right: 0;
                bottom: 0;
            }
        }
    }

    .episode-count {
        position: absolute;
        top: 196px;
        right: -5px;
        height: 2em;
        width: 2em;
        background: #900;
        text-align: center;
        line-height: 2em;
        border-radius: 50%;
        color: white;
    }

    .name {
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
    }

    .episode-row {
        font-size: 0.9em;
    
        > span {
            display: flex;
            align-items: center;
            transition: .5s;
            
            > span {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        img {
            height: 20px;
            width: 20px;
            vertical-align: -5px;
            margin-right: 4px;
        }
    }

    &.skellington a, &.skellington .name, &.skellington .episode-row {
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    &.skellington a:hover {
        border: 1px solid white;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.poster-icon {
    cursor: pointer;

    &.add-to-list {
        background: url('/images/plus.svg') no-repeat;
        padding-left: 20px;
        color: blue;
        text-decoration: underline;
    }
    &.add-to-list.saving {
        background-image: url('/images/ellipsis.svg');
    }
}

#showAllShowsLink {
    text-align: center;
    display: block;
    margin: 2em 0;
}